{% extends "main/base.html" %}
{% load static %}

{% block head %}
<style>
    body {
        background-image:url("{% static 'main/login_bg.png' %}");
        background-color:#3a051f;
  }
</style>
{% endblock %}
{% block title %}로그인{% endblock %}

{% block body %}

<!-- 메인 영역 -->
<section class="container text-center" style="max-width:400px;">
    <h1 class="text-center text-white my-5 pt-5">로그인</h1>
        {% if user.is_authenticated %}
        <p class="text-white">이미 로그인되어 있습니다.</p>
        <a class="btn btn-primary btn-block" href="{% url 'main:index' %}">메인으로</a>
        {% else %}
        {%if txt %}
        <p class="text-white text-center">{{txt}}</p>
        {%endif%}
        <form action="{% url 'main:login' %}" method="POST">{%csrf_token%}
            <input type="text" name="id" class="form-control text-center my-2" placeholder="ID" maxlength="20">
            <input type="password" name="pw" class="form-control text-center my-2" placeholder="PASSWORD" maxlength="20">
            <button type="submit" class="btn btn-primary btn-block">로그인</button>
        </form>
        <a href="{% url 'main:join' %}">KLAS 아이디로 간편가입</a>
        {% endif %}
    </div>
</section>
{% endblock %}