<!--상단 nav바에 컨테이너 파트가 가려져서 공백 공간-->
<div class="container shadow-sm mb-4 rounded border bg-white ">
    <!--글쓰기-->
    <div class="row pt-4 pr-4 pl-4">
        <div class="col-md-12 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
            <h3 class="font-weight-bold" style="font-size:30px;">글쓰기</h3>
        </div>
    </div>
  
    <form action="{% url 'main:subwrite' code %}" method="POST">{%csrf_token%}
      <!--제목-->
      <div class="row pt-3 pr-4 pl-4">
          <div class="col-md-2 mt-1 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
                <h6 class="font-weight-bold" style="font-size:16px;">제목</h6>
          </div>
          <div class="col-md-10 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
              <div class="form-group">
                <input name="title" type="text" class="form-control">
              </div>
          </div>
      </div>
          
      <!--내용-->
      <div class="row pt-4 pr-4 pl-4">
          <div class="col-md-2 mt-1 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
            <h6 class="font-weight-bold" style="font-size:16px;">내용</h6>
          </div>
          <div class="col-md-10 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
            <div class="form-group">
              <textarea name="body" class="form-control" rows="10"></textarea>
            </div>
          </div>
      </div>
  
    
    <!--등록, 목록 버튼-->
    <div class="row pt-3 pr-4 pl-4">
      <div class="col-md-12">
        <div class="float-md-right pb-4 ">
          <input type="submit" class="btn btn-info" value="등록">
          <a href="{% url 'main:subject' code %}" class="btn btn-secondary ">목록</a>
        </div>
      </div>
    </div>
  </form>
  
  </div>