{# 각 묶음이 1 줄을 차지한다. 적당한 것을 조합 해 여러 줄을 만들면 된다. #}
{# 맨 마지막 줄에 푸터 있다. 넣는거 빼먹지 마라. #}

{# 행을 나누는 경우(2분할) - textarea #}
<div class="form-row">
    {# 행은 전체 12행이므로, 6은 절반을 차지하겠다는 의미이다. #}
    <div class="form-group col-sm-6">
        <label>강의명</label>
        <input type="text" name="LectureName" class="form-control" maxlength="20">
    </div>
    <div class="form-group col-sm-6">
        <label>교수명</label>
        <input type="text" name="professorName" class="form-control" maxlength="20">
    </div>
</div>

{# 행을 나누는 경우(3분할) - option #}
<div class="form-row">
    <div class="form-group col-sm-4">
        <label>수강년도</label>
        <select name="LectureYear" class="form-control">
            <option value="2011">2011</option>
            <option value="2012" selected>2012</option>
            <option value="2013">2013</option>
        </select>
    </div>
    <div class="form-group col-sm-4">
        <label>수강학기</label>
        <select name="semesterDivide" class="form-control">
            <option value="1학기">1학기</option>
            <option value="2학기" selected>2학기</option>
            <option value="3학기">3학기</option>
        </select>
    </div>
    <div class="form-group col-sm-4">
        <label>강의구분</label>
        <select name="LectureDivide" class="form-control">
            <option value="전공">전공</option>
            <option value="교양" selected>교양</option>
            <option value="기타">기타</option>
        </select>
    </div>
</div>

{# 단일 행 - text 높이 1줄 #}
<div class="form-group">
    <label>제목</label>
    <input type="text" name="evaluationTime" class="form-control" maxlength="30">
</div>

{# 단일 행 - textarea 높이 조정 #}
<div class="form-group">
    <label>내용</label>
    <textarea name="evaluationContent" class="form-control" maxlength="2048" style="height: 180px;"></textarea>
</div>


{# 푸터 #}
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
    <button type="submit" class="btn btn-primary">등록하기</button>
</div>