{# line-show와 연결된 모달이 여러 개면 id만 바꿔가며 이걸 여러 개 넣는다 #}
{# 1. 등록 #}
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            {# 헤더 - 제목만 바꾼다 #}
            <div class="modal-header">
                <h5 class="modal-title" id="modal">제목</h5>
                {# 제목 옆 X 버튼이다 #}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {# 바디 #}
            <div class="modal-body">
                <form action="" method="POST">
                    {% include "a/p/1/modal-a-index.html" %}
                </form>
            </div>

        </div> 
    </div>
</div>