
        <section class="container">
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal">변환하기</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
            
                        <div class="modal-body">
                            <div class="form-group">
                                <label>변환/역변환</label>
                                <select name="isReverse" class="form-control" id="op">
                                    <option value="0" selected>변환</option>
                                    <option value="1">역변환</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>내용</label>
                                <textarea name="content" class="form-control" id="txt" style="height: 180px;"></textarea>
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                <button onclick="convert()" type="button" class="btn btn-primary">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-light bg-light mt-3">
                <div class="card-header bg-light">
                    <div class="row">
                        <div class="col-8 text-left">변환기</div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text mb-4">
                        <button class="btn btn-primary mx-1 mt-2" data-toggle="modal" href="#Modal">변환하기</button>
                    </p>
                    <div class="form-group">
                        <h5 class="card-title">
                            변환결과
                        </h5>
                        <textarea name="content" class="form-control" id="result" style="height: 180px;"></textarea>
                        <button class="btn btn-primary mx-1 mt-2" data-toggle="modal" onclick="clip()">클립보드에 복사</button>
                    </div>
                </div>
            </div>
        </section>