<!--상단 nav바에 컨테이너 파트가 가려져서 공백 공간-->
<div class="row">
  <div class="mh-100 d-inline-block p-2" style="height:100px"></div>
</div>
    
<div class="container border bg-white ">
  <!--게시판 이름 게시판 마다 수정-->
	<div class="row pt-4 pr-4 pl-4">
  	<div class="col-md-12 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
      <h3 class="font-weight-bold" style="font-size:30px;">자유게시판</h3>
    </div>
	</div>
  
  <!--게시판 제목 밑 데이터 받아와야할것-->
  <div class="row pt-3 pr-4 pl-4">
  	<div class="col-md-12 mt-1" >
      <h6 class="font-weight-bold" style="font-size:20px;">이곳에 제목이 들어갈 자리</h6>
    </div>
    <div class="col-md-4 mt-1 pb-3 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
      <h6 class="font-weight-light" style="font-size:13px;">작성일: 날짜가 들어갈 자리</h6>
    </div>
    <div class="col-md-4 mt-1 pb-3 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
      <h6 class="font-weight-light" style="font-size:13px;">조회수: 조회수</h6>
    </div>
    <div class="col-md-4 mt-1 pb-3 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
      <h6 class="font-weight-light" style="font-size:13px;">추천: 추천수</h6>
    </div>       
	</div>
  
  <!--글 받아와야하는거-->
  <div class="row pt-4 pr-4 pl-4" >
    <div class="col-md-12 pb-3 border-secondary border-top-0 border-right-0 border-left-0 border-bottom " >
      <label for="content" class" control-label">글 내용</label>
    </div> 
	</div>
  
  <!--목록 버튼-->
  <div class="row pt-3 pr-4 pl-4">
  	<div class="col-md-12">
      <div class="float-md-right pb-4 ">
        <a href="#" class="btn btn-secondary ">목록</a>
			</div>
    </div>
	</div>
  
</div>
    