<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color:#3a051f;">
  <!--사이트 이름 지어지면 LOGO대신에 넣어야함-->
  <a class="navbar-brand" href="#">Logo</a>
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="#">KLAS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">내 수업</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">마이페이지</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          커뮤니티
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">자유게시판</a>
          <a class="dropdown-item" href="#">비밀게시판</a>
          <a class="dropdown-item" href="#">건의게시판</a>
        </div>

      </li>
      
    </ul>
</nav>