{% extends "main/base.html" %}
{% load static %}

{% block title %}OSS프로젝트{% endblock %}

{% block head %}{% endblock %}
{% block body %}
    {% if user.is_authenticated %}
        {% include 'main/repeat/navtop.html' %}
        {% include 'main/repeat/navbar.html' %}

        {% include 'main/post/posting.html' %}

        {% include 'main/repeat/footer.html' %}
    {% else %}
        <style>
            body {
                background-image:url("{% static 'main/login_bg.png' %}");
                background-color:#3a051f;
        }
        </style>
        <section class="container text-center" style="max-width:400px;">
            <h1 class="text-center text-white my-5 pt-5">로그인이 필요합니다.</h1>
            <a type="submit" class="btn btn-primary btn-block" href="{% url 'main:loginform' %}">이동</a>
        </section>
    {% endif %}
{% endblock %}