<!--상단 nav바에 컨테이너 파트가 가려져서 공백 공간-->
<div class="container shadow-sm mb-4 rounded border bg-white ">
    <!--글쓰기-->
    <div class="row pt-4 pr-4 pl-4">
        <div class="col-md-12 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
            <h3 class="font-weight-bold" style="font-size:30px;">글쓰기</h3>
        </div>
    </div>
  
    <!--제목-->
    <div class="row pt-3 pr-4 pl-4">
        <div class="col-md-2 mt-1 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
              <h6 class="font-weight-bold" style="font-size:16px;">제목</h6>
        </div>
        <div class="col-md-10 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
            <div class="form-group">
              <input type="text" class="form-control" id="usr">
            </div>
        </div>
    </div>
        
    <!--내용-->
    <div class="row pt-4 pr-4 pl-4">
        <div class="col-md-2 mt-1 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
          <h6 class="font-weight-bold" style="font-size:16px;">내용</h6>
        </div>
        <div class="col-md-10 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
          <div class="form-group">
            <textarea class="form-control" rows="10" id="comment"></textarea>
          </div>
        </div>
    </div>
    
    <!--파일 업로드 지워도됨-->
    <div class="row pt-4 pr-4 pl-4">
      <div class="col-md-2 mt-1 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
          <h6 class="font-weight-bold" style="font-size:16px;">파일 업로드</h6>
      </div>
      <div class="col-md-10 border-secondary border-top-0 border-right-0 border-left-0 border-bottom">
        <div class="form-group">
          <input type="file" class="form-control-file border" name="file">
        </div>
      </div>
    </div>
    
    <!--등록, 목록 버튼-->
    <div class="row pt-3 pr-4 pl-4">
      <div class="col-md-12">
        <div class="float-md-right pb-4 ">
          <a href="#" class="btn btn-info ">등록</a>
          <a href="#" class="btn btn-secondary ">목록</a>
        </div>
      </div>
    </div>
  
  </div>