{% extends "main/base.html" %}
{% load static %}

{% block title %}로그인{% endblock %}

{% block body %}
<!-- 메인 영역 -->
<section class="container text-center" style="max-width:400px;">
    <h1 class="text-center my-5">가입완료</h1>
        <input type="text" name="LectureName" class="form-control text-center my-2" placeholder="ID" maxlength="20">
        <input type="text" name="LectureName" class="form-control text-center my-2" placeholder="PASSWORD" maxlength="20">
        <button class="btn btn-secondary btn-block">간편가입</button>
    </div>
</section>
{% endblock %}