<div id="demo" class="carousel slide pt-4" data-ride="carousel">
	<div class="carousel-item active" style="width:100%; background-color: #dedede;">
    	<div class="media border p-3">
        	<img src="img_avatar3.png" alt="John Doe" class="ml-5 mr-4 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body pt-3">
              <h4>TEAM <small><i>백색 바람의 고향</i></small></h4>
              <p>이동규(2019203094), 이규현(2019203063), 최지훈(2019203072), 양문정(2019203020)</p>      
            </div>
        </div>
    </div>
</div>