<div class="container-fluid ">
    <!--상단 nav바에 컨테이너 파트가 가려져서 공백 공간-->
  <div class="row">
  	<div class="mh-100 d-inline-block p-2" style="height:100px"></div>
  </div>
  
  <div class="container shadow-sm mb-4 rounded border-top border-right border-left border-bottom" style="background-color:white;"> 
  	<div class="col-md">
    	<!--수강과목 파트-->
        <div class="row border-bottom">
        	<div class="col-md-12 pt-4 pb-3">
            	<div class="row">
                	<h3 class="font-weight-bolder">수강과목</h3>
                </div>
            </div>
        </div>
        
        <!--여기부터 쭉 과목 별 게시판 파트-->
        <div class="row border-bottom">
        	<div class="col-md-8 pt-2">
            	<div class="row">
                	<h3 class="font-weight-bolder" style="font-size:large;">과목 이름</h3>
                </div>
                <div class="row">
                	<h6 class="font-weight-ligher" style="font-size:small;">과목정보</h6>
                </div>
            </div>
        	<div class="col-md-4 align-self-center">
            	<div class="float-md-right ">
                	<a href="#" class="btn btn-info ">Q&A 게시판</a>
                  	<a href="#" class="btn btn-info ">참고자료 게시판</a>
				</div>
            </div>
        </div>
        
        <div class="row border-bottom">
        	<div class="col-md-8 pt-2">
            	<div class="row">
                	<h3 class="font-weight-bolder" style="font-size:large;">과목 이름</h3>
                </div>
                <div class="row">
                	<h6 class="font-weight-ligher" style="font-size:small;">과목정보</h6>
                </div>
            </div>
        	<div class="col-md-4 align-self-center">
            	<div class="float-md-right ">
                  <a href="#" class="btn btn-info ">Q&A 게시판</a>
                  <a href="#" class="btn btn-info ">참고자료 게시판</a>
				</div>
            </div>
        </div>
        
        <div class="row border-bottom">
        	<div class="col-md-8 pt-2">
            	<div class="row">
                	<h3 class="font-weight-bolder" style="font-size:large;">과목 이름</h3>
                </div>
                <div class="row">
                	<h6 class="font-weight-ligher" style="font-size:small;">과목정보</h6>
                </div>
            </div>
        	<div class="col-md-4 align-self-center">
            	<div class="float-md-right ">
                  <a href="#" class="btn btn-info ">Q&A 게시판</a>
                  <a href="#" class="btn btn-info ">참고자료 게시판</a>
				</div>
            </div>
        </div>
        
        <div class="row border-bottom">
        	<div class="col-md-8 pt-2">
            	<div class="row">
                	<h3 class="font-weight-bolder" style="font-size:large;">과목 이름</h3>
                </div>
                <div class="row">
                	<h6 class="font-weight-ligher" style="font-size:small;">과목정보</h6>
                </div>
            </div>
        	<div class="col-md-4 align-self-center">
            	<div class="float-md-right ">
                  <a href="#" class="btn btn-info ">Q&A 게시판</a>
                  <a href="#" class="btn btn-info ">참고자료 게시판</a>
				</div>
            </div>
        </div>
        
        <div class="row border-bottom">
        	<div class="col-md-8 pt-2">
            	<div class="row">
                	<h3 class="font-weight-bolder" style="font-size:large;">과목 이름</h3>
                </div>
                <div class="row">
                	<h6 class="font-weight-ligher" style="font-size:small;">과목정보</h6>
                </div>
            </div>
        	<div class="col-md-4 align-self-center">
            	<div class="float-md-right ">
                  <a href="#" class="btn btn-info ">Q&A 게시판</a>
                  <a href="#" class="btn btn-info ">참고자료 게시판</a>
				</div>
            </div>
        </div>
        
    </div>
  </div>
</div>
